In [90]:
import pandas as p

In [91]:
df = pd.read_csv("/Users/maximbortnik/Downloads/london_merged.csv")

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [93]:
df.shape

(17414, 10)

In [94]:
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [95]:
# посчитаем уникальные значения в колонке weather_code
df.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [96]:
# посчитаем уникальные значения в колонке season
df.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [97]:
#переименую названия колонок для удобства
new_columns_dict = {
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
} 
df.rename(new_columns_dict, axis=1, inplace=True)

In [98]:
#изменил интервал значений в колонке humidity_percent в пределах [0;1] 
df.humidity_percent = df.humidity_percent / 100

In [99]:
#изменил занчения в колонке season на названия времен года вместо чисел
season_dict = {
    '0.0':'Spring',
    '1.0':'Summer',
    '2.0':'Autumn',
    '3.0':'Winter'
}

#проделаю тоже самое с колонкой weather
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorms',
    '26.0':'Snowfall'
}

df.season = df.season.astype('str')
df.season = df.season.map(season_dict)

df.weather = df.weather.astype('str')
df.weather = df.weather.map(weather_dict)

In [100]:
df.info

<bound method DataFrame.info of                       time  count  temp_real_C  temp_feels_like_C  \
0      2015-01-04 00:00:00    182          3.0                2.0
1      2015-01-04 01:00:00    138          3.0                2.5
2      2015-01-04 02:00:00    134          2.5                2.5
3      2015-01-04 03:00:00     72          2.0                2.0
4      2015-01-04 04:00:00     47          2.0                0.0
...                    ...    ...          ...                ...
17409  2017-01-03 19:00:00   1042          5.0                1.0
17410  2017-01-03 20:00:00    541          5.0                1.0
17411  2017-01-03 21:00:00    337          5.5                1.5
17412  2017-01-03 22:00:00    224          5.5                1.5
17413  2017-01-03 23:00:00    139          5.0                1.0

       humidity_percent  wind_speed_kph           weather  is_holiday  \
0                 0.930             6.0     Broken clouds         0.0
1                 0.930             5.0             Clear         0.0
2                 0.965             0.0             Clear         0.0
3                 1.000             0.0             Clear         0.0
4                 0.930             6.5             Clear         0.0
...                 ...             ...               ...         ...
17409             0.810            19.0     Broken clouds         0.0
17410             0.810            21.0            Cloudy         0.0
17411             0.785            24.0            Cloudy         0.0
17412             0.760            23.0            Cloudy         0.0
17413             0.760            22.0  Scattered clouds         0.0

       is_weekend  season
0             1.0  Winter
1             1.0  Winter
2             1.0  Winter
3             1.0  Winter
4             1.0  Winter
...           ...     ...
17409         0.0  Winter
17410         0.0  Winter
17411         0.0  Winter
17412         0.0  Winter
17413         0.0  Winter

[17414 rows x 10 columns]>

In [103]:
df.to_excel('london_bikes_final.xlsx')

OSError: [Errno 30] Read-only file system: 'london_bikes_final.xlsx'

In [ ]:
df.to_excel('/Users/maximbortnik/Downloads/london_bikes_final.xlsx', sheet_name='Data')